body {
  background-image: url("main_bg.avif");
  background-size: cover;
  overflow: hidden;
}
div.loading {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: block;
  margin: auto;
  text-align: center;
  align-content: center;
  height: fit-content;
  word-wrap: break-word;
  white-space: normal;
  width: fit-content;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 5vmax;
}
img.textcard {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: block;
  margin: auto;
  align-self: center;
  height: 15vmax;
  width: auto;
}
img.cardimage {
  left: 0;
  right: 0;
  top: 1%;
  bottom: 0;
  display: block;
  margin: auto;
  align-self: center;
  height: 13vmax;
  width: auto;
}
div.cardtext {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: block;
  margin: auto;
  text-align: center;
  align-content: center;
  height: fit-content;
  word-wrap: break-word;
  white-space: normal;
  width: fit-content;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 15vmax;
}
div.imagetext {
  left: 0;
  right: 0;
  top: -30%;
  bottom: 0;
  display: block;
  margin: auto;
  text-align: center;
  align-content: center;
  height: fit-content;
  word-wrap: break-word;
  white-space: normal;
  width: fit-content;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
}
button {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  color: aliceblue;
  background-color: blueviolet;
}
button.OK {
  position: fixed;
  left: 0%;
  right: 0%;
  top: 80%;
  bottom: 0%;
  display: block;
  margin: auto;
  align-self: center;
  width: 17vmin;
  height: 7vmin;
  font-size: 5vmin;
  border-radius: 5vmin;
}
button.Yes {
  position: fixed;
  left: 0;
  right: 30%;
  top: 80%;
  bottom: 0%;
  display: block;
  margin: auto;
  align-self: center;
  display: block;
  margin: auto;
  width: 17vmin;
  height: 7vmin;
  font-size: 5vmin;
  border-radius: 5vmin;
}
button.No {
  position: fixed;
  left: 30%;
  right: 0%;
  top: 80%;
  bottom: 0%;
  display: block;
  margin: auto;
  align-self: center;
  text-align: center;
  width: 17vmin;
  height: 7vmin;
  font-size: 5vmin;
  border-radius: 5vmin;
}
button.PlayAgain {
  position: fixed;
  left: 0%;
  right: 0%;
  top: 60%;
  bottom: 0%;
  display: block;
  margin: auto;
  align-self: center;
  text-align: center;
  width: 27vmin;
  height: 7vmin;
  font-size: 5vmin;
  border-radius: 2vmin;
}
button.exit {
  display: none;
  margin: auto;
  align-self: center;
  width: auto;
  height: auto;
  font-size: 3vmin;
  border-radius: 2vmin;
}
img.boy {
  left: 0;
  right: 0.5%;
  top: 20%;
  bottom: 0;
  margin: auto;
  align-self: center;
  height: auto;
  width: 28.5vmin;
  z-index: -1;
  position: fixed;
  display: none;
}
img.girl {
  left: 0;
  right: 1.125%;
  top: 17%;
  bottom: 0;
  margin: auto;
  align-self: center;
  height: auto;
  width: 20vmin;
  z-index: -1;
  position: fixed;
  display: none;
}
div.hats {
  left: 0;
  right: 0;
  top: 0;
  bottom: 50%;
  display: none;
  height: 15vmin;
  width: 50vmin;
  margin: auto;
  align-self: center;
  z-index: 5;
  position: fixed;
}
div.uppers {
  left: 0;
  right: 0;
  top: 20%;
  bottom: 20%;
  display: none;
  height: 15vmin;
  width: 50vmin;
  margin: auto;
  align-self: center;
  z-index: 5;
  position: fixed;
}
div.lowers {
  left: 0;
  right: 0;
  top: 70%;
  bottom: 25%;
  display: none;
  height: 30vmin;
  width: 50vmin;
  margin: auto;
  align-self: center;
  z-index: 3;
  position: fixed;
}
div.shoes {
  left: 0;
  right: 0;
  top: 85%;
  bottom: 0%;
  display: none;
  height: 10vmin;
  width: 50vmin;
  margin: auto;
  align-self: center;
  z-index: 3;
  position: fixed;
}
button.previous {
  float: left;
  display: none;
  font-size: 2vmin;
  border-radius: 2vmin;
}
button.next {
  float: right;
  display: none;
  font-size: 2vmin;
  border-radius: 2vmin;
}
